################################################################
# Big Blocks
################################################################
# Twitter AS13414
{{as2cidr(13414)}}
################################################################
# Facebook AS32934
{{as2cidr(32934)}}
################################################################
# Google 
# dig -t txt _netblocks.google.com
# these should be enough for most google sites
#64.18.0.0/20
#64.233.160.0/19
#66.102.0.0/20
#66.249.80.0/20
#72.14.192.0/18
#74.125.0.0/16
#108.177.8.0/21
#173.194.0.0/16
#207.126.144.0/20
#209.85.128.0/17
#216.58.192.0/19
#216.239.32.0/19
# AS15169
{{as2cidr(15169)}}
# AS36384
{{as2cidr(36384)}}
# AS43515 (YouTube, LLC)
{{as2cidr(43515)}}
################################################################
# Amazon http://docs.aws.amazon.com/general/latest/gr/aws-ip-ranges.html
{{aws2cidr("split")}}
################################################################
# CloudFlare AS13335
{{as2cidr(13335)}}
################################################################
# Daum Communications CO, LTD (KaKao, AS45991,AS10158,AS38099,AS9764)
1.201.0.0/23
27.0.236.0/22
103.27.148.0/23
103.246.56.0/24
103.246.57.0/24
103.246.59.0/24
110.76.140.0/22
203.133.160.0/19
203.217.224.0/19
203.238.180.0/24
203.246.172.0/24
210.103.240.0/20
################################################################
# Evernote AS53635
{{as2cidr(53635)}}
################################################################
# Plurk
74.120.120.0/22
################################################################
# BBC AS2818
{{as2cidr(2818)}}
################################################################
# RFE/RL, Inc. (voachinese.com) AS8518
{{as2cidr(8518)}}
################################################################
# Godaddy AS26496
{{as2cidr(26496)}}
################################################################
# Debian
82.195.75.64/26
################################################################
# Python
82.94.164.160/28
################################################################
# Bitly AS395244
67.199.248.0/24
################################################################
# SourceForge
216.34.181.0/24
################################################################
# github AS36459
{{as2cidr(36459)}}
################################################################
# Stack Exchange, Inc AS25791
{{as2cidr(25791)}}
################################################################
# Dropbox AS19679 AS54372
{{as2cidr(19679)}}
{{as2cidr(54372)}}
################################################################
# Internet Archive AS7941
{{as2cidr(7941)}}
################################################################
# Mail-Archive, Inc.
72.52.77.0/28
################################################################
# Automattic, Inc ( wordpress.com ) AS2635
{{as2cidr(2635)}}
################################################################
# wikipedia  Wikimedia Foundation Inc. AS43821 AS14907
{{as2cidr(14907)}}
{{as2cidr(43821)}}
################################################################
# Linode,LLC AS63949
{{as2cidr(63949)}}
################################################################
# Tumblr Inc. AS26101
{{as2cidr(26101)}}
################################################################
# zinio.com (secure.zinio.com imgs.zinio.com is a CNAME to footprint service
208.79.32.0/21
192.221.72.111/32
################################################################
# RadioTime Inc. (Tunein Radio) AS54005
204.69.221.0/24
207.218.181.0/24
################################################################
# The New York Times Company
170.149.0.0/16
################################################################
# Kyodo News
202.248.152.0/21
################################################################
# Hootsuite AS31931
{{as2cidr(31931)}}
################################################################
# twitpic.com
50.23.200.224/27
################################################################
# pixnet.net AS9924
103.23.108.0/22
################################################################
# Weebly, Inc. AS27647
{{as2cidr(27647)}}
################################################################
# fast.ly AS54113
{{as2cidr(54113)}}
################################################################
# Apple, Inc. AS714
{{as2cidr(714)}}
################################################################
# line.me AS38631
{{as2cidr(38631)}}
################################################################
# linkedin
216.52.242.0/24
103.20.92.0/22
108.174.0.0/20
################################################################
# scmp
180.150.134.168/29
################################################################
# telegram.org AS62041 AS59930 AS7459 AS31500
{{as2cidr(62041)}}
{{as2cidr(59930)}}
67.198.55.0/24
109.239.140.0/24
################################################################
# Small sites
################################################################
# http://www.catonmat.net
50.22.83.242/32
################################################################
# twicca.r246.jp
219.94.129.181/32
################################################################
# linuxquestions.org
75.126.162.205/32
################################################################
# twitter4j.org
153.127.244.69/32
################################################################
# jsfiddle.net
162.243.36.109/32
################################################################
# acme-v01.api.letsencrypt.org
23.42.184.217/32
################################################################
# aswetalk.net
129.226.69.186/32
